
#cv-template{

    display: none;
}



hr.new2 {
    border-top: 10px solid rgb(0, 0, 0);
  }

.col-md-4{

    background-color:rgb(105, 86, 2);
}

.myimg{

    border: 1px solid black;
    border-radius: 50%;
}


.background{
    background-color: rgb(105, 86, 2);
}